:root{
    --font-size: 16px;
    --orange: #F76120;
    --black: #1E1E1E;
    --cream: #F2EFE8;
    --main-font: "Inter", serif;
    --secondary-font: "Alike", sans-serif;
    /* --soft-gray: #eee7e7; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: var(--font-size);
    font-family: var(--main-font);
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-y: scroll;
    background-color: var(--cream);
    scroll-behavior: smooth;
}
body{color: var(--black);}
h1, h2, h3{
    font-family: var(--secondary-font);
    font-weight: 300;
    font-style: normal;
}
h2{font-size: 2.25rem;}
h3{font-size: 1.5rem;}
ul{list-style: none;}
a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:active{transform: scale(0.97);}
button{cursor: pointer;}
a:focus, button:focus,
form input:focus, form textarea:focus{
    outline: 1px dashed var(--black);
}
form, input, textarea,
label, button, a{
    font-family: var(--main-font);
}
p{line-height: 1.5;}
.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 1700px;
}
.small-wrapper{
    width: 65%;
    margin: 0 auto;
    max-width: 1125px;
}
.bold{font-weight: bold;}
.section-padding{padding: 5rem 0;}
.section-introP{
    margin-top: 3rem;
    text-align: center;
}
.pics{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-cta{
    display: block;
    color: #fff;
    background-color: var(--orange);
    border-radius: 7px;
    max-width: 230px;
    min-width: 190px;
    text-align: center;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 1px;
    padding: 1rem 0;
    width: auto;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.main-cta span{
    display: block;
    position: relative;
    z-index: 10;
}
.main-cta::after,
.main-cta::before {
    padding: 1rem 0;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-100% - 30px);
    height: calc(100% - 29px);
    width: calc(100% + 20px);
    color: var(--cream);
    border-radius: 0px;
    transform: skew(-25deg);
}
.main-cta::after{
    background: var(--cream);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    z-index: 0;
    opacity: 0.8;
}
.main-cta::before{
    background: var(--orange);
    z-index: 5;
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.main-cta:hover::after{
    left: calc(0% - 10px);
    transition: left 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.main-cta:hover::before{
    left: calc(0% - 10px);
    transition: left 0.7s cubic-bezier(0.86, 0, 0.07, 1);
}
canvas{
    width: 420px;
    height: 420px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.secondary-cta{
    display: block;
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    border-radius: 7px;
    max-width: 230px;
    min-width: 190px;
    text-align: center;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 1px;
    padding: 1rem 0;
    width: auto;
    text-transform: uppercase;

    position: relative;
}
.secondary-cta::before{
    content: '';
    width: 100%;
    height: 0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    transition: all 0.2s ease-in;
}
.secondary-cta::after{
    color: var(--black);
    width: 100%;
    height: 0;
    position: absolute;
    top: -10;
    left: 0;
    transition: all 0.3s ease-in;
}
.secondary-cta:hover::before{
    height: 100%;
}
.secondary-cta:hover::after{
    height: 100%;
    top: 32%;
    color: var(--cream);
}

@media (max-width: 921px) {
    :root{--font-size: 14px;}
}
@media (max-width: 480px) {
    :root{--font-size: 12px;}
}