---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';

	import ItemsToEngrave from '../assets/images/engraveable-withLogo.jpg'
---

<Layout>
	<Header />

	<section class="hero">
		<div class="small-wrapper hero-container">
			<div class="text-container">
				<h1>Custom Laser Engraving That Makes Every Item Unique</h1>
				<p>Transform your favorite items with precision laser engraving. From tumblers and wallets to tools, gifts, and business products, Lopantzi Laser Studio helps you create personalized pieces that leave a lasting impression.</p>

				<div class="cta-container">
					<a href="/#contact" class="main-cta" title="Request a quote">
						<span>Request a quote</span>
					</a>
					<a href="/#about" class="secondary-cta learnMore-cta" title="Learn More">Learn More</a>
				</div>
			</div>
			<div class="showCase-images"></div>
		</div>
	</section>

	<section id="services" class="section-padding">
		<div class="small-wrapper services-container">
			<h2>Services</h2>
			<p class="section-introP">
				 Whether you're creating a meaningful gift, adding professional branding, or customizing an item you already own, Lopantzi Laser Studio provides high-quality laser engraving tailored to your needs. We work with a variety of materials and products to help transform everyday items into something truly unique.
			</p>

			<div class="services-row row1">
				<div class="col text-content">
					<h3>Bring in your items and we'll help make it one of a kind.</h3>

					<ul>
						<li>Tumblers & Drinkware</li>
						<li>Water Bottles</li>
						<li>Pocket Knives</li>
						<li>Multi-Tools</li>
						<li>Leather Wallets</li>
						<li>Journals & Notebooks</li>
						<li>Key chains</li>
						<li>Gift Items</li>
						<li>Personal Keepsakes</li>
					</ul>
				</div>
				<div class="col image-col"></div>
			</div>

			<p>Great for business and promotional products but not limited to personalized gifts. Adding names, dates, meaningful messages, monograms, or custom artwork. Make your brand or message stand out with professionally engraved products.</p>

			<div class="services-row row2">
				<ul>
					<li>Birthdays</li>
					<li>Weddings</li>
					<li>Anniversaries</li>
					<li>Graduations</li>
					<li>Father's Day</li>
					<li>Mother's Day</li>
					<li>Retirement Gifts</li>
				</ul>
				<ul>
					<li>Employee Appreciation Gifts</li>
					<li>Client Thank You Gifts</li>
					<li>Promotional Products</li>
					<li>Corporate Events</li>
					<li>Small Business Branding</li>
					<li>Team Recognition Items</li>
					<li>Holiday Gifts</li>
				</ul>
			</div>

			<div class="row3">
				.col2
			</div>

		</div>
	</section>
	
	<Footer />
</Layout>
<style>
	.hero{
		height: 900px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hero-container .text-container{
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.text-container h1{
		font-size: 4rem;
		margin-bottom: 3rem;
		text-align: center;
	}
	.text-container p{
		font-size: 1.25rem;
		text-align: center;
	}
	.hero-container .cta-container{
		margin-top: 3rem;
		display: flex;
		gap: 0 1.75rem;
		align-items: center;
	}
	.hero-container .learnMore-cta::after{content: 'Learn More';}

	/* SERVICES SECTION */
	#services{
		background-color: var(--black);
		color: var(--cream);
	}
	#services h2,
	#services p{text-align: center;}
	.services-row{
		display: flex;
		justify-content: space-between;
		margin: 4.5rem 0;
	}
	.services-row .col{width: 42%;}
	.services-row .text-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.services-row .text-content h3{margin-bottom: 1.125rem;}
	.services-row .text-content ul,
	.row2 ul li{
		list-style: circle;
		margin-left: 18px;
	}

	.services-row .text-content ul li,
	.row2 ul li{margin-bottom: 10px;}

	.services-row .text-content ul li:last-child,
	.row2 ul li:last-child{margin-bottom: 0;}
	.row1{height: 400px;}
	.row1 .image-col{
		height: auto;
		background-image: url(../assets/images/engraveable-withLogo.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>