---
 import Logo from '../assets/images/LLS-Logo-Black-MD.png'
---

<footer>
    <div class="small-wrapper footer-container">
        <a class="logo" href="/" title="Lopantzi Laser Studio link" aria-label="Link, redirects to homepage">
            <img src={Logo.src} alt="Lopantzi Laser Studio logo" class="pics">
        </a>

        <ul class="footer-nav-links">
            <li>
                <a href="/#services" title="Services" aria-label="Services link">Services</a>
            </li>
            <li>
                <a href="/#about" title="About" aria-label="About link">About</a>
            </li>
            <li>
                <a href="/#faq" title="FAQ" aria-label="Frequently Asked Questions link">FAQ</a>
            </li>
        </ul>

        <p>Copyright &copy; <span id="footer-year"></span> Lopantzi Laser Studio All Rights Reserved.</p>

    </div>
</footer>

<style>
    footer{padding: 2rem 0;}
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display: block;
        max-width: 375px;
        min-width: 225px;
        margin-bottom: 3rem;
    }
    .footer-nav-links{
        display: flex;
        gap: 0 3rem;
        align-items: center;
    }
    .footer-nav-links li a{
        color: var(--black);
        text-transform: uppercase;
    }
    .footer-nav-links li a:hover{color: var(--orange);}
    footer p{
        margin-top: 3rem;
        text-align: center;
    }
    @media screen and (max-width: 480px){
        .logo{max-width: 275px;}
    }
</style>

<script>
    let currentDay = new Date();
    let year = currentDay.getFullYear();
    let footerYear = document.getElementById('footer-year');

    function updateYear() {
        if(footerYear != null){
            footerYear.innerText = year.toString();
        }
    }
    updateYear();
</script>