---
    import Logo from '../assets/images/LLS-Logo-White-MD.png';
---

<header>
    <div class="wrapper header-container">
        <a class="logo" href="/" title="Lopantzi Laser Studio link" aria-label="Link, redirects to homepage">
            <img src={Logo.src} alt="Lopantzi Laser Studio logo" class="pics">
        </a>

        <nav>
            <ul>
                <li>
                    <a href="/#services" title="Services" aria-label="Services link">Services</a>
                </li>
                <li>
                    <a href="/#about" title="About" aria-label="About link">About</a>
                </li>
                <li>
                    <a href="/#faq" title="FAQ" aria-label="Frequently Asked Questions link">FAQ</a>
                </li>
                <li class="">
                    <a class="main-cta mobile-only" href="/#contact" title="Contact" aria-label="Contact link">
                        <span>CONTACT</span>
                    </a>
                </li>
            </ul>
        </nav>

        <a class="main-cta desktop-only" href="/#contact" title="Contact" aria-label="Contact link">
            <span>CONTACT</span>
        </a>

        <button class="mobile-btn">
            <span class="hamburger-icon"></span>
        </button>
    </div>
</header>

<style>
    header{
        padding: 1.25rem 0;
        background-color: var(--black);
        color: var(--cream);
        position: relative;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: block;
        max-width: 165px;
    }
    nav ul{
        display: flex;
        gap: 0 3rem;

    }
    nav ul li a{
        color: var(--cream);
        text-transform: uppercase;
    }
    nav ul li a:hover{color: var(--orange);}

    @media screen and (min-width: 922px){
		.desktop-only{display: block;}
		.mobile-only{display: none !important;}
	}
    @media screen and (max-width: 921px){
        header{
            position: fixed;
            z-index: 6;
            width: 100%;
            top: 0;
            left: 0;
        }
        .desktop-only{display: none;}
		.mobile-only{display: inline-block !important;}

        .mobile-btn{
            background: transparent;
            border: 0;
            padding: 1.25rem 0 1.25rem 0.9rem;
            z-index: 7;
        }
        .hamburger-icon{ display: block;position: relative; }
        .hamburger-icon,
        .hamburger-icon::before,
        .hamburger-icon::after{
            width: 2.25rem;
            height: 2px;
            background: var(--cream);
            border-radius: 30px;
            transition: transform 300ms ease-in-out, opacity 200ms linear;
        }
        .hamburger-icon::before,
        .hamburger-icon::after{ content: '';position: absolute;left: 0; }
        .hamburger-icon::before{bottom: 9px;}
        .hamburger-icon::after{top: 9px;}
        .animate{ background-color: transparent }
        .animate:before{
            bottom: 0;
            transform: rotate(45deg)
        }
        .animate:after{
            transform: rotate(135deg) translate(-7px,6px)
        }

        nav{
            display: flex;
            position: fixed;
            top: 120px;
            right: 0;
            height: 400px;
            width: 275px;
            background: #1e1e1efc;
            align-items: center;
            justify-content: center;
            z-index: 5;
            transform: translate(100%, 0px);
            transition: all 0.3s ease-in-out;
            border-radius: 0 0 0 10px;
        }
        nav ul{
            flex-direction: column;
            gap: 3rem 0;
        }
        nav.show-nav{
            transform: translateY(0px);
        }
    }
</style>

<script>
    let mobileNav = document.querySelector('nav');
    let hamburgerBtn = document.querySelector('.mobile-btn');
    let hamburgerIcon = document.querySelector('.hamburger-icon')

    hamburgerBtn?.addEventListener('click', toggleNav)

    function toggleNav(){
        mobileNav?.classList.toggle('show-nav');
        hamburgerIcon?.classList.toggle('animate');
    }
    // document.querySelector('.alert-close-btn')?.addEventListener('click', () =>{
    //     document.querySelector('.alert-banner').style.display = 'none';
    // })
</script>