---
    import Logo from '../assets/images/LLS-Logo-White-MD.png';
---

<header>
    <div class="wrapper header-container">
        <a class="logo" href="/" title="Lopantzi Laser Studio link" aria-label="Link, redirects to homepage">
            <img src={Logo.src} alt="Lopantzi Laser Studio logo" class="pics">
        </a>

        <nav>
            <ul>
                <li>
                    <a href="/#services" title="Services" aria-label="Services link">Services</a>
                </li>
                <li>
                    <a href="/#about" title="About" aria-label="About link">About</a>
                </li>
                <li>
                    <a href="/#faq" title="FAQ" aria-label="Frequently Asked Questions link">FAQ</a>
                </li>
            </ul>
        </nav>

        <a class="main-cta" href="/#contact" title="Contact" aria-label="Contact link">
            <span>CONTACT</span>
        </a>
    </div>
</header>

<style>
    header{
        padding: 1.25rem 0;
        background-color: var(--black);
        color: var(--cream);
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: block;
        max-width: 165px;
    }
    nav ul{
        display: flex;
        gap: 0 3rem;

    }
    nav ul li a{
        color: var(--cream);
        text-transform: uppercase;
    }
    nav ul li a:hover{color: var(--orange);}
</style>